<a href="#filters/filtered_anima/{{call_b_data.page}}/{{call_b_data.criteria}}">
    <div class="back_arr_wrapper wrapper">
        <i class="fas fa-long-arrow-alt-left back_arr" back_arr=""></i>  
    </div>
</a>